<h1> Stupid Coaching </h1>
<h2> Ask your coach anything  </h2>

<form action="/answer">
    <div class="input-group form-style">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
    </div>
  </form>
</div>
